//variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins');$background-color: #212121;
$prim-color: rgb(208, 66, 62);
$sec-color: #349cde;
$font-family: 'Open Sans', sans-serif;
$font-family-big: 'Poppins', sans-serif;
$color-light: white;

//start of styles

.container {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: url('../../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  h1 {
    color: $prim-color;
    text-align: center;
    font-size: 4em;
    letter-spacing: 2px;
    font-family: $font-family-big;
  }
  h3 {
    text-align: center;
    color: $sec-color;
    font-family: $font-family;
    margin-bottom: 20px;
  }
}
.entryText.shrink {
  padding: 15px;
  margin: 30px auto;
  h1 {
    font-size: 2em;
  }
}
.entryText {
  transition: all ease-in-out 1s;
  background: rgba(255,255,255,0.8);
  border-radius: 30px;
  width: 800px;
  padding: 50px;
  margin: 0 auto;
}
form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    border-radius: 5px;
    border: 2px solid $sec-color;
    height: 60px;
    width: 100px;
    background: rgba(255,255,255, 0.8);
    font-size: 1em;
    text-transform: uppercase;
    color: lighten($prim-color, 10%);
    &:hover {
      cursor: pointer;
    }
  }
  select {
    height: 60px;
    border: 2px solid $sec-color;
    font-size: 1.2em;
    color: lighten($prim-color, 10%);

  }
  input {
    margin: 10px;
    height: 60px;
    width: 300px;
    background: rgba(255,255,255, 0.8);
    border: 2px solid $sec-color;
    border-radius: 5px;
    font-family: $font-family-big;
    padding-left: 15px;
    font-size: 1.2em;
  }
  ::-webkit-input-placeholder {
    color: lighten($prim-color, 10%);
  }
}
#output {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .doctor {
    border-radius: 10px;
    background: $color-light;
    padding: 25px 15px;
    margin: 10px;
    flex-basis: 20%;
    width: 200px;
    text-align: center;
    h3 {
      margin: 10px 0px 2px 0px;
    }
    h4 {
      font-family: $font-family-big;
      font-size: 1.1em;
      color: darken($sec-color, 20%);
    }
    h5 {
      font-family: $font-family;
      color: $prim-color;
    }
    p {
      font-family: $font-family;
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    img {
      border-radius: 10px;
      display: block;
      margin: 0 auto;
      width: 130px;
      height: 130px;
      object-fit: cover;
    }
  }
  .error {
    border-radius: 10px;
    background: $color-light;
    padding: 25px 15px;
    margin: 10px;
    text-align: center;
    h3 {
      margin: 10px 0px 2px 0px;
    }
  }
}
